/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Lato', sans-serif;
}

.content {
  display: flex; 
  justify-content: center;
}

/* NAV BAR */

.nav {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px; 
 }

.nav a {
  text-decoration: none; 
  color: gray;
}

.nav a:hover {
  color: black;
}

.nav-user-welcome {
  display: flex; 
  align-items: center;
}

.nav-user-welcome h3 {
  margin: 5px;
}

.nav-user-welcome button {
  margin: 5px;
}

.session-links a {
  padding: 10px;
  color: #26b56d;
}

/* STORIES INDEX */

.storiesIndexItem {
  width: 350px;
  height: 200px;
  border: .5px solid lightgray;
  margin: 3px;
  display: flex;
}

.storiesIndexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 225px;
  padding-left: 225px;
  text-align: center;
  /*width: 1000px;*/
}

.storiesIndexTitle {
  border-bottom: 1 px solid black;
  padding-left: 25%;
}

.index-title-body {
  min-width: 50%;
  background: white;
}

.stories-index-img {
  height: 100%; 
}

.image-div {
  max-width: 50%;
  overflow: hidden;
}

/* STORY SHOW */

.story-show {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.story-info {
  display: flex;
  align-items: center;
}

.story-info > * {
  padding: 5px;
}

#author-image {
  max-width: 70px; 
}

.story-detail-img {
  max-width: 1000px;
}

#modify-own-story > *{
  padding: 7px;
}

/* STORY FORM */

.story-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-form form {
  align-items: flex-end;
}

.story-form input {
  border: none;
  font-size: 25px;
  outline: none;
}

.story-form textarea {
  border: none;
  font-size: 25px;
  outline: none;
  resize: none;
}

.story-form input[type="file"] {
  border: none;
  font-size: 10px;
  outline: none;
}

.story-form .input-title {
  width: 800px;
  height: 50px;
  font-weight: bold; 
}

.story-form .input-body {
  width: 800px;
  height: 200px;
}

#upload-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-image-title {
  margin: auto;
  text-align: center;
}

#story-form-img {
  max-width: 100px;
}

.publish-button {

}

/* SESSION FORM */

.form-modal-overlay {
  display: flex; 
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
  animation-name: fade-in;
  animation-duration: .5s;
}

.form {
  position: fixed;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  padding-left: 45px;
  padding-right: 45px;
  border: none;
  background-color: white;
  opacity: 1;
  border-radius: 10px;
  overflow: auto;
  animation-name: from-bottom;
  animation-duration: 0.75s;
  z-index: 2000;
  zoom: 1.2;
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes from-bottom {
  0% {transform: translateY(100px) }
  100% {transform: translateY(0) }
}

.image-upload {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.image-upload input[type="file"] {
  border: none;
  outline: none;
}

.image-box {
  max-width: 35px;
}

.session-file-input {
  padding-left: 20%; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h2 {
  margin-bottom: 0px;
}
form label {
  margin: 5px;
}
.form p:hover {
  color: blue;
}
form button {
  margin-top: 20px;
  max-width: 60px;
  background: none;
  border: none;
}

form button:hover {
  color: blue;
}

.errors-container {
  min-height: 40px; 
  min-width: 180px;
  justify-content: center;
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

.errors {
  font-size: 10px;
  max-width: 150px;
  list-style: none;
  color: red;
  animation-name: fade-in;
  animation-duration: 1s;
}

