/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Lato', sans-serif;
}

.content {
  display: flex; 
  justify-content: center;
}

/* NAV BAR */

.nav {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px; 
 }

.nav a {
  text-decoration: none; 
  color: gray;
}

.nav a:hover {
  color: black;
}

.nav-user-welcome {
  display: flex; 
  align-items: center;
}

.nav-user-welcome h3 {
  margin: 5px;
}

.nav-user-welcome a {
  margin: 5px;
}

.nav-user-welcome button {
  margin: 5px;
  outline: none;
  border: none;
  background: none;
  font-family: lato;
  font-size: 17px;
  color: #26b56d;
}

.nav-user-welcome button:hover {
  color: black;
}

.session-links a {
  padding: 10px;
  color: #26b56d;
}

/* SEARCH */

.popover-arrow {
  top: 1px;
  clip: rect(0 18px 14px -4px);
}

/*.search-list-container .stories-search-list-container:before {
    content:"";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0px 0px 0px;
    border-color: transparent transparent #fae0bb transparent;
    z-index: 10000;
}
.search-list-container .stories-search-list-container:after {
    content: "";
    position: absolute;
    right: 224px;
    top: -9px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
    z-index: 9998;
}*/

.search-bar-clearer {
  background-color: transparent;
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0px;

}

.active {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-bar input {
  outline: none;
}

.search-story-img {
  width: 32px;
  height: 32px;
}

.search-list-container {
  margin-top: 20px;
  position: absolute;
  background: white;
  border-top: 2px solid gray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.search-list-container span{
  font-size: 13px;
}

.search-list-container a span:hover{
  color: #26b56d;
}

.search-list {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.stories-search-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-search-link {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.story-search-link > *{
  margin-left: 5px;
  margin-right: 5px;

}
.story-search-link span {
  color: black;
}

.search-story-item > * {
  margin-left: 8px;
  margin-right: 8px;
}

/* STORIES INDEX */

.storiesIndexItem {
  width: 520px;
  height: 225px;
  border: .5px solid lightgray;
  margin: 3px;
  display: flex;
}

.stories-index-item-link {
  text-decoration: none; 
}

.storiesIndexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 28px;
  text-align: center;
  border-top: 1px solid lightgray;
  /*width: 1000px;*/
}

#followedStoriesContainer {
  border-top: none;
}

.storiesIndexTitle {
  border-bottom: 1 px solid black;
  padding-left: 15%;
  margin-top: 50px;
}


.stories-index-username {
  color: black;
}

.stories-index-date {
  font-size: 12px;
  color: gray;
}

.index-title-body {
  min-width: 50%;
  background: white;
}

.index-title-body a{
  text-decoration: none;
  color: black;
}

.index-title-body > p{
  font-size: 12px; 
  color: gray;
  margin-right: 15px;
  margin-left: 15px;
}

.stories-index-img {
  height: 100%; 
}

.bookmark {
  background: none;
  border: none;
  outline: none;
}
.author-index-image {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.author-index-image-div {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.author-info-index {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-info-index > * {
  padding: 6px;
}

.image-div {
  min-width: 50%;
  overflow: hidden;
}

/* STORY SHOW */

.story-show {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.story-info {
  display: flex;
  align-items: center;
}

.story-info button{
  background: white;
  outline: none;
}

.story-info .bookmark {
  border: none;
}

.story-info .follow {
  border-radius: 40px;
  border-color: green;
  color: green;
}

.story-info > * {
  margin: 10px;
}

.deleteBookmark-img {
  width: 25px;
}

.addBookmark-img {
  width: 25px;
}

.like-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-div p {
  margin: 0px;
}

#author-image {
  width: 70px;
  height: 70px;
  border-radius: 100px; 
}

#like-button {
  border: none;
  background: none;
  outline: none;
}

#full-heart-img {
  width: 15px;
}

#empty-heart-img {
  width: 15px;
}

.story-detail-body {
  white-space: pre-wrap;
}

.story-detail-img {
  max-width: 1000px;
}

#modify-own-story > *{
  padding: 7px;
  font-size: 15px;
  color: blue;
  text-decoration: none;
}

#modify-own-story button {
  border: none;
  background: none;
  font-family: 'lato';
}

/* STORY FORM */

.story-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.story-form form {
  align-items: flex-end;
}

.story-form input {
  border: none;
  font-size: 25px;
  outline: none;
}

.story-form textarea {
  border: none;
  font-size: 25px;
  outline: none;
  resize: none;
}

.story-form input[type="file"] {
  border: none;
  font-size: 10px;
  outline: none;
}

.story-form .input-title {
  width: 800px;
  height: 50px;
  font-weight: bold; 
  font-size: xx-large;
}

.story-form .input-title::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gray;
}
.story-form .input-title::-moz-placeholder { /* Firefox 19+ */
  color: gray;
}
.story-form .input-title:-ms-input-placeholder { /* IE 10+ */
  color: gray;
}
.story-form .input-title:-moz-placeholder { /* Firefox 18- */
  color: gray;
}

.story-form .input-body {
  width: 800px;
  font-size: 50px;
  
}

#upload-image-p {
  border: 1px solid black;
  padding: 10px;
  font-size: 10px;
  margin-bottom: 0px;
}

#upload-image-p:hover {
  color: lightgreen;
}

#upload-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-image-title {
  margin: auto;
  text-align: center;
}

#story-form-img {
  max-width: 100px;
}

.publish-button {

}

/* SESSION FORM */

.form-modal-overlay {
  display: flex; 
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
  animation-name: fade-in;
  animation-duration: .5s;
}

.form {
  position: fixed;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  padding-left: 45px;
  padding-right: 45px;
  border: none;
  background-color: white;
  opacity: 1;
  border-radius: 10px;
  overflow: auto;
  animation-name: from-bottom;
  animation-duration: 0.75s;
  z-index: 2000;
  zoom: 1.2;
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes from-bottom {
  0% {transform: translateY(100px) }
  100% {transform: translateY(0) }
}

.image-upload {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.image-upload input[type="file"] {
  border: none;
  outline: none;
}

.image-box {
  max-width: 35px;
}

.session-file-input {
  padding-left: 20%; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h2 {
  margin-bottom: 0px;
}
form label {
  margin: 5px;
}
.form p:hover {
  color: blue;
}
form button {
  max-width: 60px;
  font-family: lato;
  outline: none;
  font-size: 15px;
  background: none;
  border: none;
  margin-top: 15px;
}

form button:hover {
  color: blue;
}

.errors-container {
  min-height: 40px; 
  min-width: 180px;
  justify-content: center;
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

.errors {
  font-size: 10px;
  max-width: 150px;
  list-style: none;
  color: red;
  animation-name: fade-in;
  animation-duration: 1s;
}

/* COMMENT FORM */

.comment-item-text {

}

.comment-form-input {
  width: 500px;
  height: 100px;
  font-size: 25px;
  outline: none;
  resize: none;
}
.comment-item {
  margin: 10px;
  border: 1px solid black;
  min-height: 130px;
  max-width: 600px;
  min-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comment-item-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.comment-modifiers button {
  background: none;
  outline: none;
  border: none;
  font-size: 15px;
  font-family: lato;
  color: #26b56d;
}

.comment-modifiers button:hover {
  color: black;
}

/* COMMENT ITEM */

.comment-author-img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.comment-body-input {
  width: 500px;
  height: 50px;
}

.comment-header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.comment-header > * {
  padding-left: 30px;
  padding-right: 30px;
}

.comment-author-info {
  display: flex; 
  align-items: center;
}

.comment-author-info p{
  color: gray;
}

.comment-author-info > * {
  margin: 5px;
}

