.nav {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px; 
  background: white;
 }

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav a {
  text-decoration: none; 
  color: gray;
}

.nav a:hover {
  color: black;
}

.nav-user-welcome {
  display: flex; 
  align-items: center;
}

.nav-user-welcome h3 {
  margin: 5px;
}

.nav-user-welcome a {
  margin: 5px;
  color: #26b56d;
}

.nav-user-welcome button {
  margin: 5px;
  outline: none;
  border: none;
  background: none;
  font-family: lato;
  font-size: 17px;
  cursor: pointer;
  color: #26b56d;
}

.nav-user-welcome button:hover {
  color: black;
}

.session-links {
  display: flex;
  align-items: center;
}

.session-links a {
  padding: 10px;
  color: #26b56d;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}


