<!DOCTYPE html>
<html>
<head>
  <title>Medio</title>
  <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/m-m-s/512/696487-512x512.png">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
