<!DOCTYPE html>
<html>
<head>
  <title>Medio</title>
  <link rel="icon" href="https://www.shareicon.net/data/2015/09/03/95537_green_512x512.png">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <meta name="viewport" content="width=900, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
